fastapi
uvicorn
sqlalchemy
psycopg2-binary
celery
redis
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
cryptography
google-auth
google-auth-oauthlib
google-api-python-client
msal
requests
beautifulsoup4
python-dotenv
python-multipart
PyPDF2
python-docx
zipfile36
pydantic[email]
gevent
pdfplumber 
pytesseract 
pdf2image 
Pillow 
openpyxl 
pandas 
python-docx
beautifulsoup4
re
